body {
    background:linear-gradient(to right,#000, #dc143c);
    padding: 0;
    color:black;
}
.btn {
    background-color: rgba(255, 255, 255, .75);
    border: 1px solid white;
    padding: 15px 32px;
    display: inline-block;
    min-width: 200px;
    font-size: 16px;
}
.btn:hover {
    background-color: rgba(255, 255, 255, .9);;
}
.buttons-grid{
    display: grid;
    justify-content: space-around;
    align-content: center;
    min-height: 50vh;
}
.cim { 
    font-size: 75px;
    padding: 1rem;
    border-style: solid;
    border-color: black;
    max-width: min-content;
}
.selfpromo {
    text-align: right;
    position: absolute;
    left: 100%;
    top:100%;
    transform: translate(-100%,-100%);
    width: max-content;
    height: max-content;
}