@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #e1b12c;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-areas: 'text game';
    grid-gap: 10px;
    overflow: hidden;
}

#snake {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.flex {
    display: flex;
    flex-direction: column;

    grid-area: game;
    
    align-items: flex-start;
    justify-content: flex-start;
}

.flex h1 {
    padding-left: 3%;
}

.flex2 {
    display: flex;
    flex-direction: column;

    grid-area: text;
    
    align-items:flex-start ;
    justify-content: flex-start;

}
.vissza {
    
    background-color: #e84118;
    border-color: #c23616;
}