body {
    background-color: #2f3640;
   
    
}
.egy {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.szamk {
    display:flex;
    flex-direction:row;
    justify-content:center;
    

    
}

.szamko {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
input {
   
    background-color:#718093;
    text-align-last: center;
    
}
button {
    background-color:#0097e6;
  border-style: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  min-width: 150px;
  min-height: 100px;
  
}

#szam {
    height: 40px;
    font-size: 20px;
    min-width: 600px;
    
}

.ve {
    display:flex;
    flex-direction:row;
    justify-content:center;
    
    
}
strong {
    background-color: #718093;
   min-width: 594px;
    border-style: solid;
    border-color: gray;
    font-size: 15px;
    text-align-last: center;
    
    
}
.eg {
    
    min-width: 150px;
    background-color: #40739e;
}
.b {
    background-color: #00a8ff;
}
.zar {
    min-width: 225px;
    background-color: #00a8ff;
}
.vissza {
    width: 80px;
    height: 20;
    color: white;
}
.visz {
    border-style: solid;
    border-color: gray;
    text-align: center;
    width: 80px;
    height: 20;
    background-color: #00a8ff;
}
.visz:active {
    background-color:#40739e;
}